#Created by Constraints Editor (xc6slx45-fgg676-3) - 2014/12/14
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_0" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_1" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_2" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_3" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_4" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_5" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_6" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_7" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_8" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_9" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_10" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_11" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_12" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_13" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_14" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_15" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_16" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_BCOUT_to_Mmult_n03611_B_17" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P17_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P18_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P19_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P20_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P21_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P22_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P23_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P24_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P25_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P26_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P27_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P28_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P29_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P30_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P31_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P32_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P33_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P34_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P35_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P36_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P37_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P38_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P39_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P40_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P41_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P42_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P43_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P44_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P45_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P46_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n0361_P47_to_Mmult_n03611" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_0" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_1" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_2" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_3" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_4" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_5" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_6" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_7" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_8" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_9" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_10" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_11" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_12" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_13" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_14" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_15" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_16" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_17" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_18" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_19" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_20" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_21" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_22" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_23" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_24" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_25" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_26" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_27" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_28" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_29" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_30" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_31" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_32" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_33" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_34" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_35" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_36" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_37" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_38" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_39" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_40" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_41" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_42" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_43" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_44" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_45" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_46" TPTHRU = "MultipliersThrough";
NET "project/MyCtrlModule/zpu/Mmult_n03611_PCOUT_to_Mmult_n03612_PCIN_47" TPTHRU = "MultipliersThrough";
TIMESPEC TS_Mults1 = FROM "RAMS" THRU "MultipliersThrough" TO "FFS" 20 ns;
TIMESPEC TS_Mults2 = FROM "FFS" THRU "MultipliersThrough" TO "RAMS" 20 ns;
