#Created by Constraints Editor (xc6slx45-fgg676-3) - 2014/12/14
NET "*/zpu/Mmult*" TPTHRU = "MultipliersThrough";
TIMESPEC TS_Mults1 = FROM "RAMS" THRU "MultipliersThrough" TO "FFS" 20 ns;
TIMESPEC TS_Mults2 = FROM "FFS" THRU "MultipliersThrough" TO "RAMS" 20 ns;
